@import '~_src/less/variables.less';

.markdown-preview-wrap {
  flex: 1;
  padding: 10px;
  height: calc(100vh - 64px);
  overflow-y: scroll;
  background-color: #FFF;
  color: #000;
  border: none;

  h1,
  h2,
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  h1 {
    .font(@font18, @common-blue);
    font-weight: bold;
    white-space: pre-wrap;
  }

  h1[value="本周问题/故障"] {
    color: @warning-red;
  }

  h2 {
    .font(@font14, #000);
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    margin: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}