@import '~_src/less/variables.less';

.markdown-weekly-preview-wrap {
  position: relative;
  flex: 1;
  height: @editor-height;
  overflow-y: scroll;
  background-color: #FFF;
  color: #000;
  border: none;


  .copy-wrap {
    position: fixed;
    top: 140px;
    right: 40px;
    color: @common-blue;
    // display: none;
  }

  &:hover {
    .copy-wrap {
      display: inline;
    }
  }

  .copy-btn {
    margin: 0 0 20px 20px;
  }
}