@import '~_src/less/variables.less';

.react-markdown {
  padding: 20px;
  background-color: #FFF;
  color: #000;
  border: none;
  overflow-y: scroll;
  box-sizing: border-box;
  height: 100%;

  .template-title-level-1 {
    .template-title(@common-blue);
  }

  .template-title-level-2 {
    .template-subtitle();
  }

  .template-alarm-title-level-1 {
    .template-title(@warning-red) !important;
  }

  div {
    line-height: 1.75;
  }

  h1,
  h2,
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  h1 {
    .font(@font18, @common-blue);
    font-weight: bold;
    white-space: pre-wrap;
  }

  h2 {
    .font(@font14, #000);
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  code,
  li code {
    background-color: #DCDCDC;
    padding: 4px;
  }

  pre {
    background: #1E1E1E;
    padding: 10px;

    code {
      background-color: transparent;
      color: #DCDCDC;
    }
  }
}