@import '~_src/less/variables.less';

.sample-wrap {
  background: #FFF;
  padding: 20px;
  flex: 1;
  padding: 10px;
  height: @editor-height;
  overflow-y: scroll;
  background-color: #FFF;
  color: #000;
  border: none;

  h3 {
    .font(@font20, #000);
    font-weight: bold;
  }
}