@import '~_src/less/variables.less';

.ant-layout,
.ant-layout-sider {
  background: none !important;
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-space-betwween {
  justify-content: space-between;
}

.template-title {
  .template-title(@common-blue);
}

.template-alarm-title {
  .template-title(@warning-red);
}