// 字号
@font12: 12px;
@font14: 14px;
@font16: 16px;
@font18: 18px;

// 颜色
@black: #000;
@common-blue: #0070C0;
@warning-red: #FF0000;
@light-black: rgba(0, 0, 0, 0.4);
@common-black: rgba(0, 0, 0, 0.6);
@weight-black: rgba(0, 0, 0, 0.8);

// 方法
.font(@fontSize, @color) {
  font-size: @fontSize;
  color: @color;
}

.template-title(@color) {
  font-size: @font18;
  font-weight: bold;
  color: @color;
}

.template-subtitle() {
  font-size: @font14;
  font-weight: bold;
  font-weight: 600;
}